@model m2gil_generateur_blogs.Models.Blog

<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
      <div class="p-6 bg-white border-b border-gray-200">
        <form method="POST" asp-controller="Blogs" asp-action"="AddBlog">
          <div class="mb-4">
            <label class="text-xl text-gray-600 font-bold">Title <span class="text-red-500">*</span></label><br />
            <div class="relative mt-2">
              <input type="text" class="block w-full rounded-lg border border-gray-300 p-2" name="title" id="title" value="" required>
            </div>
          </div>

          <div class="mt-4">
            <label class="text-xl text-gray-600 font-bold">Description</label>
            <div class="relative mt-2">
              <input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" name="description" id="description" placeholder="(Optional)">
            </div>
          </div>

          <div class="mt-4">
            <label class="text-xl font-bold text-gray-600">Content <span class="text-red-500">*</span></label><br />
            <div class="relative mt-2">
              <textarea name="content" class="border-2 border-gray-500">

            </textarea>
            </div>
          </div>

          <div class="mt-8">
            <button type="submit" class="inline-flex rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-sm font-semibold leading-5 text-white transition-all duration-200 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2">Save</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
  CKEDITOR.replace('content');
</script>