@model m2gil_generateur_blogs.Models.Blog
@using Microsoft.AspNetCore.Identity
@using m2gil_generateur_blogs.Areas.Identity.Models
@inject UserManager<ApplicationUser> UserManager
@{
  ViewData["Title"] = "Ajout d'un blog";
}

<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
      <div class="p-6 bg-white border-b border-gray-200">
        <form method="POST" asp-controller="Blogs" asp-action"="AddBlog">
          <div class="mb-6">
            <label class="text-sm text-gray-600 font-bold">Title <span class="text-red-500">*</span></label><br />
            <div class="relative mt-2">
              <input type="text" class="block w-full rounded-lg border border-gray-300 p-2" asp-for="Title">
              <span class="text-red-500 text-xs italic" asp-validation-for="Title"></span>
            </div>
          </div>

          <div class="flex flex-wrap space-x-3 mt-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="">
                <label class="text-sm text-gray-600 font-bold">Image Url <span class="text-red-500">*</span></label>
                <div class="relative mt-2">
                  <input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" asp-for="ImageUrl" placeholder="https://images.png">
                  <span class="text-red-500 text-xs italic" asp-validation-for="ImageUrl"></span>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <div class="x">
                <label class="text-sm text-gray-600 font-bold">Category <span class="text-red-500">*</span></label>
                <div class="relative mt-2">
                  <input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" asp-for="Category">
                </div>
                <span class="text-red-500 text-xs italic" asp-validation-for="Category"></span>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <div class="x">
                <label class="text-sm text-gray-600 font-bold">Auteur</label>
                <div class="relative mt-2">
                  <select asp-for="ApplicationUserId" class="form-select form-select-lg rounded-lg appearance-none block p-2 w-full border border-solid border-gray-300 rounded">
                    @{
                      var users = UserManager.Users;
                      List<ApplicationUser> list = new List<ApplicationUser>();
                      foreach (var user in users)
                      {
                        list.Add(user);
                      }

                      foreach (var item in list)
                      {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                      }
                    }
                  </select>
                  @*<input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" asp-for="Category">*@
                </div>
                <span class="text-red-500 text-xs italic" asp-validation-for="Category"></span>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <label class="text-sm text-gray-600 font-bold">Content</label><br />
            <div class="relative mt-2">
              <textarea asp-for="Content" name="content" class="border-2 border-gray-500">

            </textarea>
            </div>
            <span class="text-red-500 text-xs italic" asp-validation-for="Content"></span>
          </div>

          <div class="mt-4">
            <div class="grid grid-cols-2">
              <div class="">
                <label class="text-sm text-gray-600 font-bold">Status</label>
                <div class="relative mt-2">
                  <select asp-for="IsPublished" class="form-select form-select-lg rounded-lg appearance-none block p-2 w-full border border-solid border-gray-300 rounded">
                   <option value="false">DRAFT</option>
                   <option value="true">PUBLISHED</option>
                  </select>
                </div>
                <span class="text-red-500 text-xs italic" asp-validation-for="Category"></span>
              </div>
            </div>
          </div>
          <div class="mt-8">
            <button type="submit" class="inline-flex rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-sm font-semibold leading-5 text-white transition-all duration-200 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
  CKEDITOR.replace('content');
</script>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}