@model m2gil_generateur_blogs.Models.Blog
@using Microsoft.AspNetCore.Identity
@using m2gil_generateur_blogs.Areas.Identity.Models
@inject UserManager<ApplicationUser> UserManager
@{
  ViewData["Title"] = "Ajout d'un blog";
}

@*<div class="mx-auto max-w-7xl px-4 sm:px-5 lg:px-7">
  <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Ajouter un Blog</h2>
  <p class="mt-4 text-base font-normal leading-7 text-gray-600 lg:mt-6 lg:text-lg lg:leading-8">Renseignez tout le formulaire</p>

  <form action="#" method="POST" class="mt-12 space-y-12 sm:mt-16 lg:mt-20">
    <div class="space-y-5">
      <div>
        <label for="fullName" class="text-base font-medium text-gray-900"> titre blog </label>
        <div class="mt-2">
          <input type="TEXT" name="" class="block w-full rounded-xl border border-gray-200 bg-white px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600" />
        </div>
      </div>

      <div className="flex flex-wrap -mx-2 mb-2">
        <div className="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <div>
            <label for="fullName" class="text-base font-medium text-gray-900"> image </label>
            <div class="mt-2">
              <input type="TEXT" name="" id="fullName" class="block w-full rounded-xl border border-gray-200 bg-white px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600" />
            </div>
          </div>
        </div>
        <div className="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <div>
            <label for="fullName" class="text-base font-medium text-gray-900"> category </label>
            <div class="mt-2">
              <input type="TEXT" name="" id="fullName" class="block w-full rounded-xl border border-gray-200 bg-white px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <label for="email" class="text-base font-medium text-gray-900"> Contenu</label>
        <div class="mt-2">
          <textarea name="content" class="block w-full rounded-xl border border-gray-200 bg-white px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600"></textarea>
        </div>
      </div>
    </div>

    <button type="submit" class="inline-flex items-center justify-center rounded-xl border border-transparent bg-blue-600 px-12 py-4 text-base font-medium text-white transition-all duration-200 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-offset-2">Enregirez</button>
  </form>
</div>*@

<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
      <div class="p-6 bg-white border-b border-gray-200">
        <form method="POST" asp-controller="Blogs" asp-action"="AddBlog">
          <div class="mb-6">
            <label class="text-sm text-gray-600 font-bold">Title <span class="text-red-500">*</span></label><br />
            <div class="relative mt-2">
              <input type="text" class="block w-full rounded-lg border border-gray-300 p-2" asp-for="Title">
              <span class="text-red-500 text-xs italic" asp-validation-for="Title"></span>
            </div>
          </div>

          <div class="flex flex-wrap space-x-3 mt-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="">
                <label class="text-sm text-gray-600 font-bold">Image Url <span class="text-red-500">*</span></label>
                <div class="relative mt-2">
                  <input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" asp-for="ImageUrl" placeholder="https://images.png">
                  <span class="text-red-500 text-xs italic" asp-validation-for="ImageUrl"></span>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <div class="x">
                <label class="text-sm text-gray-600 font-bold">Category <span class="text-red-500">*</span></label>
                <div class="relative mt-2">
                  <input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" asp-for="Category">
                </div>
                <span class="text-red-500 text-xs italic" asp-validation-for="Category"></span>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <div class="x">
                <label class="text-sm text-gray-600 font-bold">Auteur</label>
                <div class="relative mt-2">
                  <select asp-for="ApplicationUserId" class="form-select form-select-lg rounded-lg appearance-none block p-2 w-full border border-solid border-gray-300 rounded">
                    @{
                      var users = UserManager.Users;
                      List<ApplicationUser> list = new List<ApplicationUser>();
                      foreach (var user in users)
                      {
                        list.Add(user);
                      }

                      foreach (var item in list)
                      {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                      }
                    }
                  </select>
                  @*<input type="text" class="block w-full rounded-lg border border-gray-300 p-2 w-full" asp-for="Category">*@
                </div>
                <span class="text-red-500 text-xs italic" asp-validation-for="Category"></span>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <label class="text-sm text-gray-600 font-bold">Content</label><br />
            <div class="relative mt-2">
              <textarea asp-for="Content" name="content" class="border-2 border-gray-500">

            </textarea>
            </div>
            <span class="text-red-500 text-xs italic" asp-validation-for="Content"></span>
          </div>

          <div class="mt-8">
            <button type="submit" class="inline-flex rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-sm font-semibold leading-5 text-white transition-all duration-200 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2">Enregistrer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
  CKEDITOR.replace('content');
</script>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}